.header {
    position: absolute;
    top: 0;
    z-index: 999;
    width: 100vw;
    height: 11vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    transition: box-shadow .2s;


    .header_container {
        width: 80%;
        max-width: 1360px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            height: 60px;
            display: flex;
            align-items: center;

            img {
                height: 100%;
                width: auto;
                display: block;
            }
            
            @media (max-width: 1000px) {
                height: 60px;
            }
        }

        .bars_wrapper {
            width: 80px;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            background-color: #5500FF;
            border-radius: 50%;
            z-index: 999;

            @media (max-width: 1000px) {
                width: 60px;
                height: 60px;
            }
        }

        .bars {
            width: 30px;
            height: 2px;
            background-color: #fff;
            position: relative;
            transition: background 0.3s ease;
            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 30px;
                height: 2px;
                background-color: #fff;
                transition: transform 0.4s ease, top 0.4s ease;
            }

            &::before {
                top: -8px;
            }

            &::after {
                top: 8px;
            }

            &.open {
                background: transparent;

                &::before {
                    transform: rotate(45deg);
                    top: 0;
                }

                &::after {
                    transform: rotate(-45deg);
                    top: 0;
                }
            }
        }
    }
    @media (max-width: 1000px) {
        height: 15vh;
    }
}

.fullscreenMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #5500FF;
    z-index: 998;
    display: flex;
    align-items: center;
    padding-left: clamp(5vw, 10vw, 15vw);

    .menuItems {
        display: flex;
        flex-direction: column;
        gap: clamp(20px, 3vh, 40px);
    }

    .menuLink {
        font-size: clamp(36px, 8vw, 96px);
        color: white;
        font-weight: bold;
        text-decoration: none;
        transition: color 0.1s ease-out;
        line-height: 1.1;


        &:hover {
            color: #dddddd;
        }
    }
}
